<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | SIAKAD ITATS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="../css/login-style.css" />
</head>
<body>
    <div class="container">
        <h1>SIAKAD ITATS</h1>
        <h4>Izinkan sistem mengidentifikasi anda</h4>
        <form action="">
            <div class="input-field">
                <input type="text" required>
                <label>NPM/NIP, contoh: 06.2018.1.06941</label>
            </div>
            <div class="input-field">
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="button">
                <div class="inner"></div>
                <button>Login</button>
            </div>
            
        </form>
        <div class="footer">
            <p>INSTITUT TEKNOLOGI ADHI TAMA SURABAYA</p>
            <p>Copyright&copy;SIAKAD ITATS (Beta Ver) 2020.</p>
        </div>
    </div>
    
</body>
</html>